body {
    background-color: white;
    background-image: url(/assets/images/thunderstorm.jpg);
}
.weather-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.opacity-0 {
    background-color: rgba(255, 255, 255, 0)!important;
  }
  .opacity-1 {
    background-color: rgba(255, 255, 255, 0.2)!important;
  }
  .opacity-2 {
    background-color: rgba(255, 255, 255, 0.4)!important;
  }
  .opacity-3 {
    background-color: rgba(255, 255, 255, 0.6)!important;
  }
  .opacity-4 {
    background-color: rgba(255, 255, 255, 0.8)!important;
  }
  .opacity-5 {
    background-color: rgb(255, 255, 255)!important;
  }